main {
  max-width: 500px !important;
  flex-direction: column;
  margin-top: 50px !important;
  /* justify-content: center; */
}

textarea {
  overflow: hidden;
  resize: none;
}

@media only screen and (min-width: 768px) {
  main {
    flex-direction: row !important;
    justify-content: center;
    flex: none !important;
    margin-top: 100px !important;
  }
  button {
    margin-bottom: 0;
  }
}
