header {
  color: #fff;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
}

header .brand {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

header p {
  text-align: center;
}
