footer {
  height: 70px;
  padding: 10px 0;
  margin-top: auto !important;
  color: #fff;

  display: flex;
  justify-content: center;
}

footer p {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #fff;
}

footer p:last-child {
  border: none;
}

footer a {
  color: #fff;
  text-decoration: none;
}
